/* common nav styles*/
.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* flexbox xontainer*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 60px 100ox 60px 100px
    los coloca en sentio orario y asi no seleccionas uno por uno */
    
    /*padding-top: 60px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-left: 100px; */
    padding: 60px 100px;
}

/*left colum*/
.navigation-wrapper > .left-column{
    display: flex;
    align-items: center;
}
.navigation-wrapper > .left-column > .map-icon i{
    margin-right:  15px;
    font-size: 2em;
}
.navigation-wrapper > .left-column > .adress-link{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: left;
    margin-right: 15px;
    font-size: 1.5em;
}
.navigation-wrapper > .left-column > {
    display: grid;
    grid-template-columns: 1fr;
}
.navigation-wrapper > .left-column a{
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .left-column a:hover{
    color: #cea135;
}
.navigation-wrapper > .left-column > .map-icon a {
color: #cbcbcb;
transition: 0.5s;
}
.navigation-wrapper > .left-column > .map-icon a:hover{
    color: #cea135;
}


/*center column*/
.navigation-wrapper > .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}
.navigation-wrapper > .center-column > .link-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
}
.navigation-wrapper > .center-column > .banner-image img{
    width: 216px;
    height: 100%;
}
.navigation-wrapper > .center-column > .banner-image{
    display: flex;
    justify-content: center;
}
.link-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-wrapper > .nav-link a{
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.link-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}
.link-wrapper > .nav-link{
    width: 70px;
    text-align: center;
}

/*right colum*/
.navigation-wrapper > .right-column{
    display: flex;
    align-items: center;
}
.navigation-wrapper > .right-column > .phone-icon{
    margin-left: 15px;
}
.phone-icon i{
    font-size: 2em;
}
.navigation-wrapper > .right-column > .contact-hours-wrapper > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}
.navigation-wrapper > .right-column > .contact-hours-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    text-align: right;
}
